@keyframes list-hero-picture {
  to {
    max-height: 168px;
  }
}

.animate-list-hero-picture {
  animation-name: list-hero-picture;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.17, 0.99);
}
