@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes to-max-width-unset {
  to {
    max-width: unset;
  }
}

@keyframes gradient {
  from {
    background-size: 400% 100%;
  }

  50% {
    background-size: 200% 100%;
  }

  70% {
    background-size: 100% 100%;
    opacity: 1;
  }

  98% {
    opacity: 0;
  }

  to {
    background-size: 44% 100%;
    opacity: 0;
  }
}

@keyframes to-opacity-full {
  to {
    opacity: 1;
  }
}

@keyframes to-translate-x-0 {
  to {
    transform: translateX(0);
  }
}
